body {
  border: 1px solid #d1d1d1;
  box-shadow: 10px 10px 35px -9px rgba(46,74,117,0.47);
  width: 500px;
}

h1{
  padding: 15px;
}
.otter{
  margin: 0 15px 0 15px;
  width: 470px;
}
.main {
  border: 1px solid #d1d1d1;
  padding: 10px;
  margin: 15px;
}

.fun-fact{
  font-style:italic;
}



ul{
  list-style-type: none;
  padding-left: 0;
}

span {
  font-weight:bold;
  font-size: 17px;
}
